/* font railway */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.font-railway{
    font-family: "Raleway", sans-serif;
}
.font-inter{
    font-family: "Inter", sans-serif;
}
.text {
    color: #030712B3;
}